@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --PrimaryColor: #131318;
  --SecondaryColor: #ff5400;
  --GrayColor: rgba(19, 19, 24, 0.7);
  --WhiteColor: #fff;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--WhiteColor);
  font-family: "Mulish", sans-serif;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* reuse classes */

.text__Bold {
  font-weight: 800;
}
.orange {
  color: var(--SecondaryColor);
}
.primary {
  color: var(--PrimaryColor);
}
.gray {
  color: var(--GrayColor);
}
.white {
  color: var(--WhiteColor);
}
.text_center {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  margin: 0 auto;
}

header > div {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.logo_Container {
  gap: 1.1rem;
  font-size: 2.1rem;
}

.ul_Container {
  gap: 3.1rem;
  justify-content: right;
}

.menu_button{
  display: none;
}


main {
  max-width: 1170px;
  margin: 0 auto;
}

.hero {
  background-image: url("img/hero_banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
}

.shadow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
}

.hero h1 {
  font-size: 64px;
}

.hero_desc {
  text-align: center;
  padding: 0 20%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6rem;
}

.destination {
  width: 100%;
  height: 20px;
}

.destination > div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.3);
}

.destination > div div {
  width: 25%;
}

select {
  background: var(--WhiteColor);
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  padding: 1rem;
  border-radius: 8px;
  color: var(--GrayColor);
  border-right: 1rem solid transparent;
  text-transform: capitalize;
}

button {
  background-color: var(--SecondaryColor);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  color: var(--WhiteColor);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
}

.search__button button {
  width: 100%;
  gap: 1rem;
}

.description {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 2rem 0;
}

.description2{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2rem 0;
  margin-bottom: 3rem;
}


.description > div , .description2 > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.description > div h2 , .description2 > div h2 {
  color: var(--PrimaryColor);
  font-size: 2.6rem;
  padding-right: 5rem;
}

.description > div, .description2 > div p {
  color: var(--GrayColor);
}

.description > div ul, .description2 > div ul {
  list-style: disc;
  padding: 25px;
}

.description2 li p{
  color: var(--PrimaryColor);
  padding: 0.3rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.description > div ul p {
  padding: 5px;
}

.description > div img , .description2 > div img {
  width: 100%;
  height: 100%;
}

.bd_mount_tain{
  position: relative;
}

.bd_mount_tain div{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  text-align: center;
  color: var(--WhiteColor);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; 
  z-index: 1;
}
.description > div button , .description2 > div button {
  padding: 1.25rem 2.4rem;
  font-size: 20px;
  font-weight: 800;
}

.choose_destination {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.destination__Header {
  width: 50%;
  margin: 0 auto;
}

.destination__Header h2 {
  padding: 15px 0;
  font-size: 2.2rem;
}

.destination__Header p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.countries {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.countrie__row_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.countrie__row_1 > div {
  width: 50%;
}

.countrie__row_1 > div img {
  width: 100%;
}

.countrie__row_2 {
  display: grid;
  grid-template-columns: 30% 41.8% 25%;
  justify-content: space-between;
  gap: 1.2rem;
}

.countrie__row_2 > div img {
  width: 100%;
  height: 286px;
}

.countrie__row_3 {
  display: grid;
  grid-template-columns: calc(40% - 0.6rem) calc(60% - 0.6rem);
  justify-content: space-between;
  gap: 1.2rem;
}

.countrie__row_3 > div img {
  width: 100%;
  height: 286px;
}

.country__image_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
}

.country__image_container img {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.country__image_container p {
  position: absolute;
  z-index: 1;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.country__image_container:hover img {
  transform: scale(1.4);
}

.why__Us {
  padding: 3.2rem 0;
}

.why_us_title {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.why_us_title h2 {
  padding-bottom: 1.2rem;
  font-size: 2.3rem;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.card1,
.card2,
.card3 {
  width: calc(50% - 1.2rem);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
}
.card_container > div img {
  width: 64px;
}

.card_container h3 {
  color: var(--PrimaryColor);
  font-size: 1.5rem;
  font-weight: 800;
}

.card_container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.card1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.deals{
  margin-bottom: 3rem;
}

.discount1, .discount2 , .discount3{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  padding: 4rem;
  position: relative;
  margin: 1.5rem 0;
}
.discount1, .discount3{
  background-image: url("img/Group\ 39.png");
}
.discount2{
  background-image: url("img/Group\ 40.png");
}

.book__now{
  width: 25%;
}

.seeAll{
  width: 30%;
  padding: 1.5rem;
  font-size: 2rem;
  margin: 0 auto;
}

.dicount_wraper{
  width: 50%;
  height: 75%;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  padding: 2.5rem;
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

}

.position__right{
  position: absolute;
  right: 3rem;
}

.position__left{
  position: absolute;
  left: 3rem;
}

.discount__details{
  display: flex;
  gap: 1.2rem;
  align-items: center;
  color: var(--GrayColor);
}

.discount__details div{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
.discount__details > div > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.news_letter_wrapper{
  width: 100%;
  height: 422px;
  display: grid;
  grid-template-columns: calc(45% - .6rem) calc(55% - .6rem);
  gap: 1.2rem;
}

.hr__line{
  height: 1px;
  background: rgba(19, 19, 24, 0.10);
}

.news_letter{
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.2rem;
  border-radius: 16px;
  border: 1px solid #FF5400;
}

.news_letter form input{
  padding: 1.4rem 1.2rem;
  margin: 0.5rem 0 ;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);

}

.news_letter button{
  width: 100%;
  padding: 1.2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
}

.save_upto{
  background: url('img/Rectangle 8 (1).png');
  height: 442px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  position: relative;
}

.save_upto div{
  background-color: var(--SecondaryColor);
  color: var(--WhiteColor);
  width: 55%;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 8px;
  position: absolute;
  transform: rotate(-19.628deg);
  bottom: 3.5rem;
  right: 1rem;
}

.save_upto div h3{
  font-size: 2rem;
}

.save_upto div p{
  font-size: 1.5rem;
}

footer{
  width: 100%;
  height: auto;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

footer .logo_Container{
  display: flex;
}

footer p{
  width: 50%;
  text-align: center;
  color: var(--GrayColor);
  font-size: 1rem;
  line-height: 1.6rem;
}

.footer_hr_line{
  height: 1px;
  width: 60%;
  background: rgba(19, 19, 24, 0.10);
}

footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer ul img{
  width: 45px;
}

.customer__say{
  padding: 1rem 0 10rem 0;
}

.customer__say h2{
 text-align: center;
 padding: 4rem 0;
 font-size: 2rem;
}

.comments{
  display: flex;
  gap: 1rem;
}

.stars img{
  width: 20px;
}
.second__comment{
  display: block;
}

.comments > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}

.comments p{
  text-align: center;
  padding: 0.5rem;
}
.custoer__pic{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit:cover;
  object-position:top;
}

/* Responseive Css */






@media screen and (max-width: 600px) {
  header {
    width: 100%;
    padding: 1.2rem;
  }
  header > div {
    padding: 0;
  }

  .logo_Container {
    font-size: 1.2rem;
  }

  .menu_button{
    display: block ;
    display: flex;
    justify-content: right;
  }

  .logo_Container{
    width: 70%;
  }
  .logo_Container img{
    width: 30px;
  }

  .ul_Container{
    display: none;
  }

  main{
    width: 100%;
    padding: 1.2rem;
  }
  .hero{
    height: 500px;
  }
  .hero h1 {
    font-size: 22px;
  }
  
  .hero_desc {
    font-size: 14px;
    padding: 0 5%;
  }

  .description {
    gap: 1rem;
  }

  .destination{
    height: auto;
  }
  .destination > div{
    width: 80%;
    flex-direction: column;
  }
  .shadow{
    gap: 1rem;
  }

  .destination > div div {
    width: 100%;
  }

  .description {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 0;
  }

  .description > div h2 {
    font-size: 1.2rem;
  }
  .destination__Header{
    width: 100%;
  }
  .destination__Header h2 {
    font-size: 1.2rem;
    width: 100%;
  }

  .countrie__row_1 {
    flex-direction: column;
  }
  .countrie__row_1 > div {
    width: 100%;
  }

  .countrie__row_2 {
    grid-template-columns: 100%;
  }

  .countrie__row_3 {
    grid-template-columns: 100%;
  }

  .why_us_title {
    width: 100%;
  }
  
  .why_us_title h2 {
    font-size: 1.3rem;
  }

  .card1,
    .card2,
    .card3 {
        width: 100%;
  }

  .card_container h3 {
    font-size: 1.2rem;
    font-weight: 800;
  }

  .description2{
    grid-template-columns: 100%;
    gap: 1.2rem;
  }

  .description2 > div h2{
    font-size: 1.2rem;
  }

  .discount1, .discount2, .discount3{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
  }

  .dicount_wraper{
    width: 90%;
    height: auto;
    gap: 0.5rem;
    position: static;
    padding: 1rem;
  }

  .seeAll{
    font-size: 1.2rem;
    width: 15rem;
  }

  .dicount_wraper button{
    width: 8rem;
    font-size: 0.8rem;
  }

  .dicount_wraper h3{
    font-size: 1.2re;
  }

  .discount__details{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 0.3rem;
  }

  

  
  .news_letter_wrapper{
    grid-template-columns: 100%;
  }

  .save_upto div{
    width: 55%;
    bottom: 2.5rem;
    padding: 0.8rem;
  }

  .save_upto div h3{
    font-size: 1.2rem;
  }

  footer{
    margin-top: 40rem;
  }

  footer p{
    width: 90%;
    padding: 0;
  }

  footer .logo_Container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer ul img{
    width: 25px;
  }

  .second__comment{
    display: none !important;
  }

  .customer__say h2{
    padding-bottom: 1rem;
    font-size: 1.2rem;
   }

   .customer__say{
    padding: 1rem 0;
   }




}
